.highlighter{
    color: #FFD600;
    font-weight: 700;
}

.info-display{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font: 17px;
    font-weight: 400;
}
.info-display p{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.info-display tr td{
    padding: 10px;
}
.info-display tr td:first-child{
    font-size: 19px;
    font-weight: 700;
}
.info-display tr td:last-child{
    background-color: #fff;
    border-radius: 40px;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
