form{
    width: 100%;
    /* margin: 20px auto; */
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 40px;
    border-radius: 7px;
    
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

form p{
    text-align: center;
    font-size: 32px;
    margin: 0px 0 40px 0;
    font-weight: 700;
}
form div label{ 
    width: 200px;
    display: inline-block;
    font-weight: 600;
}
form div i{
    position: absolute;
    color: #6a6f7d;
    padding: 10px 0 0 5px;
}
form div .marginRight{
    margin-right: 50px;
}
form div input{
    margin: 0 0 20px 0;
    padding: 10px 10px 10px 20px;
    width: 200px;
    border-radius: 7px;
    border: 1px solid #3f3f3f
}
form div .hasIcon{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
form button{
    display: block;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    transform: box-shadow .3s;
    padding: 10px 20px;
    background: linear-gradient(45deg, #6a6f7d, #37474f);
    border-radius: 7px;
    color: white;
    border: none;
}
form button:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #37474f; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;

    margin: 20px auto 0 auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }