/* h3 {
    font-size: 24px;
    color: #444;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
} */

p {
    font-size: 18px;
    margin-bottom: 10px;
}

p b {
    color: #666;
}

.stats-table{
    height: 50%;
}