.container{
    width: 90vw;
    margin: 0 auto;
    height: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 10px 0;
    width: 100%;
    color: #4a4a4a;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

thead {
    background: linear-gradient(45deg, #6a6f7d, #37474f);
    color: white;
}

tbody {
    background-color: #f3f3f3;
}

th, td {
    padding: 15px;
    text-align: left;
}


tr:hover {
    background-color: #b0bec5;
    box-shadow: 0px 0px 10px #a3a3a3;
    cursor: pointer;
    transition: 0.1s;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

tr:nth-child(even):hover {
    background-color: #b0bec5;
}
